.main {
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
  align-items: center;

}

.description {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.card {
  color: #333333;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  width: 100%;
}

.card-item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card-item:hover {
  transform: translateY(-10px);
}

.card-header {
  justify-content: space-between;
  padding: 30px;
  border-bottom: 5px solid #eee;
}

.card-header p {
  font-size: 0.8rem;
  color: #888;
  text-transform: uppercase;
}

.card-header small {
  color: #666;
}

.card-header h4 {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

.card-body {
  padding: 20px;
}

.card-body img {
  width: 100%;
  border-radius: 15px;
}
